## Week 11 Exercises

Please use the database we introduced in class to calculate the top 100 most frequently collaborated authors.
* We identify each author by their first name initial + last name.
* If two people co-authored an article, we say that they collaborated once.

Here are the results I get:
```
[('I POMERANZ, S REDDY', 86),
 ('E MACII, M PONCINO', 82),
 ('J KIM, J LEE', 80),
 ('H NGUYEN, T NGUYEN', 80),
 ('D BLAAUW, D SYLVESTER', 77),
 ('M IRWIN, M KANDEMIR', 73),
 ('G CHEN, M KANDEMIR', 67),
 ('J LEE, S LEE', 62),
 ('C MACDONALD, I OUNIS', 62),
 ('A ABBADI, D AGRAWAL', 62),
 ('P ELES, Z PENG', 61),
 ('G MICHELI, L BENINI', 60),
 ('J KIM, S KIM', 56),
 ('J LEE, S KIM', 55),
 ('M HIROSE, T TANIKAWA', 55),
 ('J KIM, S LEE', 55),
 ('D MANOCHA, M LIN', 53),
 ('J HENKEL, M SHAFIQUE', 53),
 ('S LEE, Y LEE', 53),
 ('M IRWIN, N VIJAYKRISHNAN', 53),
 ('H KIM, J KIM', 52),
 ('A NICOLAU, N DUTT', 50),
 ('S KIM, S LEE', 49),
 ('S TURNER, W CAI', 49),
 ('J CARROLL, M ROSSON', 48),
 ('X HONG, Y CAI', 48),
 ('G FITZMAURICE, T GROSSMAN', 47),
 ('A ARPACI-DUSSEAU, R ARPACI-DUSSEAU', 47),
 ('J LI, Y ZHANG', 46),
 ('H KIM, J LEE', 45),
 ('A ROGERS, N JENNINGS', 45),
 ('S NISHIO, T HARA', 44),
 ('M TSUKAMOTO, T TERADA', 43),
 ('M KANDEMIR, O OZTURK', 43),
 ('C GRIWODZ, P HALVORSEN', 43),
 ('E MACII, L BENINI', 43),
 ('M KANDEMIR, N VIJAYKRISHNAN', 43),
 ('C GILES, P MITRA', 42),
 ('I KING, M LYU', 41),
 ('G ASCHEID, R LEUPERS', 41),
 ('H ISHIGURO, T KANDA', 41),
 ('M HIROSE, T NARUMI', 41),
 ('J YAN, Z CHEN', 40),
 ('S LEE, Y KIM', 40),
 ('A SANGIOVANNI-VINCENTELLI, R BRAYTON', 40),
 ('M ZHANG, S MA', 39),
 ('C YU, W MENG', 39),
 ('H KIM, S KIM', 38),
 ('A MACII, E MACII', 38),
 ('T NARUMI, T TANIKAWA', 38),
 ('S LEE, S PARK', 37),
 ('C WANG, L ZHANG', 37),
 ('A TOMKINS, R KUMAR', 37),
 ('M PEDRAM, Y WANG', 37),
 ('C CHEN, J BU', 36),
 ('M ZHANG, Y LIU', 36),
 ('C GREENHALGH, S BENFORD', 36),
 ('A RAGHUNATHAN, N JHA', 36),
 ('J BARDZELL, S BARDZELL', 35),
 ('S KIM, S PARK', 35),
 ('H KIM, S LEE', 35),
 ('S MA, Y LIU', 35),
 ('D TOWSLEY, J KUROSE', 35),
 ('M INAMI, M SUGIMOTO', 34),
 ('B SUPINSKI, M SCHULZ', 34),
 ('B GUO, K ZHOU', 34),
 ('T NGUYEN, T NGUYEN', 34),
 ('K MINAMIZAWA, S TACHI', 34),
 ('H MEYR, R LEUPERS', 33),
 ('B SHNEIDERMAN, C PLAISANT', 33),
 ('A MAEJIMA, S MORISHIMA', 33),
 ('I STOICA, S SHENKER', 33),
 ('D BULTERMAN, P CESAR', 32),
 ('D KIM, S LEE', 32),
 ('N HAGITA, T KANDA', 32),
 ('M INAMI, T IGARASHI', 32),
 ('L BENINI, M PONCINO', 32),
 ('N KAWAKAMI, S TACHI', 32),
 ('K CONINX, K LUYTEN', 31),
 ('A CRISTAL, O UNSAL', 31),
 ('J LEE, K LEE', 31),
 ('J KRAMER, J MAGEE', 31),
 ('A MACII, M PONCINO', 31),
 ('M PEDRAM, N CHANG', 31),
 ('A MESCHTSCHERJAKOV, M TSCHELIGI', 30),
 ('L ZHANG, X WANG', 30),
 ('J YANG, Y ZHANG', 30),
 ('F KISHINO, Y KITAMURA', 30),
 ('J KIM, J KIM', 30),
 ('H ISHIGURO, N HAGITA', 30),
 ('G BOELLA, L TORRE', 30),
 ('M SHARIR, P AGARWAL', 30),
 ('J GRUNDY, J HOSKING', 30),
 ('S BOLL, W HEUTEN', 30),
 ('T MEI, X HUA', 29),
 ('C HARRISON, S HUDSON', 29),
 ('J KIM, Y KIM', 29),
 ('A AUGER, N HANSEN', 29),
 ('C ALPERT, Z LI', 29),
 ('A MISHCHENKO, R BRAYTON', 29)]
```

In [ ]:
!pip install pymysql
!pip install paramiko
!pip install sshtunnel